/* Blur Circles Styles */
.blurCircle {
    position: absolute;
    filter: blur(48px);
}

.blurCircleOrange {
    top: 0;
    left: 0;
    width: 500px;
    height: 350px;
}

.blurCirclePink {
    top: 0;
    right: 0;
    width: 700px;
    height: 500px;
}

.blurCircleCyan {
    bottom: 0;
    left: 0;
    width: 750px;
    height: 550px;
}

.blurCircleGreen {
    bottom: 0;
    right: 0;
    width: 650px;
    height: 450px;
}