/* Hero Section Styles */
.heroSection {
    margin-bottom: 12rem;
    margin-top: 12rem;
    text-align: center;
}

.heroContainer {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

@media (min-width: 768px) {
    .heroContainer {
        max-width: 80rem;
        padding: 5rem;
    }
}

.heroContent {
    color: hsl(var(--card-foreground));
    position: relative;
    flex: 1;
}

.heroImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.heroImage {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .heroContainer {
        max-width: 80rem;
        padding: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }

    .heroImageContainer {
        margin-top: 0;
    }

    .heroImage {
        max-height: 600px;
    }
}